.App {
  text-align: center;
  padding: 2rem;
}

input {
  padding: 0.5rem;
  font-size: 1rem;
  width: 300px;
  border:1px solid black;
  border-radius: 8px;
}

button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  margin-left: 10px;
  cursor: pointer;
  border:1px solid black;
  border-radius: 8px;
}

figcaption {
  font-weight: bold;
  max-width: 15em;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.gif-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2rem;
  gap: 10px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.gif-item video {
  height: 200px;
  width: 15em;
  cursor: pointer;
  border:1px solid rgba(0, 0, 0, 0.278);
  border-radius: 8px;
}

.rate-limit-modal {
  background-color: #e025255b; 
  margin: 15% auto; 
  padding: 10px; 
  border: 1px solid #888; 
  width: 20%;
}

.nav-button {
  padding:0%;
  border: none;
  margin: 1rem;
  background-color: white;
  font-weight: bold;
}

.history-list {
  display: flex;
  flex-wrap: wrap;
}

.history-list-item {
  padding: 5px;
  margin: .5rem;
  border:1px solid #888;
  border-radius: 8px;
  background-color: white;
}
